*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

body
{
    /*background-color: rgb(27, 89, 94);*/
    overflow:scroll;
    background-image: url(image.jpg);
    background-size: cover;
    opacity: .8;
    

}
.title
{

    
    margin: auto;
    max-width:500px;
    top: 50%;
    left: 50%;
    margin-top: 25px;
    background:white;
    padding: 25px;
    border-radius: 10px;
  

}
.title h2
{
    text-align: center;
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#1E90FF;
}
.title .input-field
{
    margin-bottom: 10px;

}
.title .input-field input[type="text"]
{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}
.title .input-field input[type="password"]
{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}
.title .input-field input[type="date"]
{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

.title .btn input[type="submit"]
{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    color: white;
    background:#1E90FF;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;

}

.error {
    
    background-color:red;
    
    color: aliceblue;
    margin-top: 8px;
    padding: 5px;
    text-align: center;
}

.hide {
    display: none;
}
.err{
    margin: 10px 0px;
    font-size: 14px;
}